<!-- main/templates/main/logout.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그아웃</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="welcome">
                로그아웃되었습니다. <a href="{% url 'main_page' %}">돌아가기</a>
            </div>
        </div>
    </div>
</body>
</html>
